apiVersion: v1
kind: Service
metadata:
  name: api-server
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: presentium-api
    app.kubernetes.io/component: api-server
    app.kubernetes.io/instance: presentium-{{ .Values.global.instance }}
    app.kubernetes.io/version: {{ .Values.image.tag }}
    app.kubernetes.io/part-of: presentium
spec:
  selector:
    app.kubernetes.io/name: presentium-api
    app.kubernetes.io/instance: presentium-{{ .Values.global.instance }}
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: api-server-grpc
  namespace: {{ .Release.Namespace }}
  annotations:
    alb.ingress.kubernetes.io/backend-protocol-version: GRPC
  labels:
    app.kubernetes.io/name: presentium-api-grpc
    app.kubernetes.io/component: api-server-grpc
    app.kubernetes.io/instance: presentium-{{ .Values.global.instance }}
    app.kubernetes.io/version: {{ .Values.image.tag }}
    app.kubernetes.io/part-of: presentium
spec:
  selector:
    app.kubernetes.io/name: presentium-api
    app.kubernetes.io/instance: presentium-{{ .Values.global.instance }}
  ports:
    - name: http
      port: 80
      targetPort: grpc
      protocol: TCP
  type: ClusterIP
